# Dependencies
node_modules/

# Env
.env
.env.*

# Builds/outputs
dist/
build/

# Logs
npm-debug.log*
yarn-error.log*

# OS/editor
.DS_Store
.idea/
.vscode/

# Platform
.vercel/
.netlify/

# Deploy script with credentials
deploy.sh

